<header>
  <h3>以下の内容で、送信する。</h3>
</header>

<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p class="content">つぶやき:<%= @post.content %></p>
  <%= form.submit "登録する" %>

  <%= form.submit "戻る", name: 'back' %>
<% end %>

<footer>
  <p>exam</p>
</footer>